*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



section{
    position: relative;
.container{
    max-width: 1200px;
    padding-inline: 20px;
    margin: 0 auto;
    height: 100vh;
    
    &::after{
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        background: linear-gradient(to left,
        #7e5686 10%, #2b3540 15%, #2b3540 25%, #2182ba 35%, #2182ba 45%, #14f5ee 50%, #14f5ee 55%,
        #6ed498 65%, #6ed498 75%, #2528d4 82%, #2528d4 85%, 92%, #f4f8ba 94%, #f4f8ba 95%, #e7889a 100% );
  
        
        mix-blend-mode: color-burn;
        position: absolute;
        top: 0;
        left: 0;
    }


    .video{
        object-fit: cover;
        width: 100vw;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        
    }
   
    .todoList{
        padding-top: 30%;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        z-index: 10;
        .form__btn{
            padding: 10px 10px;
            background-color: hsla(0deg, 0%, 100%, 0.2) ;
            backdrop-filter: blur(5px);
            border-radius: 20px;
            border: 1px solid #b3adcc;
            margin-left: 30%;
            margin-top: 10px;
            color: black;
        }

        .select{
            padding: 10px 10px;
            background-color: hsla(0deg, 0%, 100%, 0.2) ;
            backdrop-filter: blur(5px);
            border-radius: 20px;
            border: 1px solid #b3adcc;
            margin-top: 10px;
        }


        .text__place{
            max-width: 300px;
            padding: 20px 30px;
            background-color: hsla(0deg, 0%, 100%, 0.2) ;
            backdrop-filter: blur(5px);
            border-radius: 20px;
            border: 1px solid #b3adcc;
            font-size: 15px;
        }
    
    }
}
}

.taskWrapper{
    margin-top: 20px;
    border: 1px solid #b3adcc;
    padding: 20px 30px;
    background-color: hsla(0deg, 0%, 100%, 0.2) ;
    backdrop-filter: blur(5px);
    border-radius: 20px;
    padding-top: 10px;
    display: flex;
    align-items: center;
    p{
        margin-left: 10px;
    }
}